@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e3a8a, #3b82f6);
    min-height: 100vh;
    transition: 0.4s ease;
    color: #1f2937;
}

.header {
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.header p {
    margin-top: 10px;
    opacity: 0.9;
}

.grid {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    margin-bottom: 15px;
    color: #1e3a8a;
}

button, input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-family: inherit;
}

button {
    background: #eb2553;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1dd83f;
}

.msg {
    margin-top: 10px;
    font-size: 0.9rem;
}

.box {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

.especial {
    background: linear-gradient(135deg, #fb24ba, #0bf5b3);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.drag-item {
    padding: 12px;
    background: #10b981;
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: grab;
    margin-bottom: 15px;
}

.drop-zone {
    padding: 20px;
    border: 2px dashed #94a3b8;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.drop-zone.activo {
    background: #dbeafe;
    border-color: #2563eb;
}

.wheel-box {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0f2fe;
    transition: transform 0.2s ease;
}

.scroll-area {
    height: 90px;
    overflow-y: auto;
    background: #f1f5f9;
    border-radius: 10px;
    padding: 10px;
}


.tema-oscuro {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

.tema-oscuro .card {
    background: #1e293b;
    color: white;
}

.tema-oscuro .wheel-box,
.tema-oscuro .scroll-area {
    background: #334155;
}

.footer {
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 30px;
}
